#github {
    max-width: 3%;
    max-height: 3%;
}

#menuImg {
    max-width: 50px;
    max-height: 50px; 
}

#menuButton {
    max-width: 50px;
    max-height: 50px;
    padding: 0;
    border: none;
    background: none;
}

#title {
    font-family: Arial, Helvetica, sans-serif;
}