html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.topSection {
    display: flex;
}

.navigation_menu .icon {
    max-width: 51px;
    max-height: 51px;
}

.topSection #open-button{
    fill: black;
    border: none;
    background: none;
}

.sideNav {
    height: 30%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay at the top */
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden; /* Disable orizontal scroll */
    padding-top: 60px;
    transition: 1s;
    border-color: black;
    border-style: solid;
    border-radius: 25px;
}

.sideNav a {
    color: goldenrod;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: block;
    transition: 1s;
}

#close-button {
    fill: black;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    border: none;
    background: none;
}

.contents {
    color: navy;
    animation: fadeIn 1s;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-shadow: 1px 1px black;
}

#home_background {
    background: url("Images/wedding.jpeg");
    background-size: cover;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

@media screen and (max-height: 450px) {
    .sideNav { padding-top: 15px;}
    .sideNav a { font-size: 18px;}
}